flask
flask-cors
motor
pillow
pymongo
requests
tgcrypto 
python-dotenv
cachetools
gunicorn
Flask
aiohttp
hydrogram
python-telegram-bot
apscheduler
telegraph
shortuuid
httpx[http2]
cloudscraper
pytz
geopy
beautifulsoup4
phonenumbers
opencage
folium
telethon
telegraph
pytube
youtube-search-python
https://github.com/KurimuzonAkuma/pyrogram/archive/dev.zip
